@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Press Start 2P', cursive; */
}

:root {
  --black: #191716;
  --white: #F5F5F5;
  --primary: #908DD7;
  --purple-1: #5F4894;
  --purple-2: #674BB2;
  --purple-3: #9074D9;
  --pink-1: #9C4CB0;
  --pink-2:#CA9CD4;
  --pink-3:#BEA1D4;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 